body {
  background-color: AliceBlue;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.2cm;
    padding: 0.5cm 1cm;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0086ff;
    
}
