body {
  background-color: AliceBlue;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.2cm;
    padding: 0.5cm 1cm;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0086ff;
    
}

main {
  /* Khung nội dung */
  max-width: 900px; /* Chiều rộng tối đa */
  margin: 2em auto; /* Căn giữa và tạo lề trên/dưới */
  padding: 1em;     /* Khoảng đệm bên trong */
  
  /* Hình thức */
  background-color: #ffffff; /* Nền trắng */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Tạo bóng đổ nhẹ */
  border-radius: 8px; /* Bo góc */
}
